@import "src/styles/colors";

.account-info-block {
  $self: &;
  padding: 2rem;
  background: $background-color;

  &__acc-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
  }
  &__status {
    position: absolute;
    top: 4.5rem;
    left: 4.8rem;
    width: 1.8rem;
    height: 1.8rem;
    color: $status-color-active;
    &:hover {
      cursor: pointer;
    }
  }
}
