$background-color: #f5f5f5;
$border-color: #e0e0e0;

$primary-color: #727272;
$primary-color-dark: #424242;
$secondary-color: #a0a0a0;

$title-color: #50a0ca;

$income-msg-background-color: #3b4151;
$outcome-msg-background-color: #dfdfdf;

$status-color-active: #00d447;
