@import "src/styles/colors";

.input-field {
  width: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid $border-color;
  display: flex;
  align-items: center;

  &__icon {
    width: 1.4rem;
    height: 1.4rem;
    color: $secondary-color;
  }

  &__input {
    width: 100%;
    padding-left: 1rem;
    background: none;
    border: none;
    outline: none;
    color: $primary-color;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $secondary-color;
    }
  }
}
