@import "src/styles/colors";

.contact-header-block {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  //border-bottom: 1px solid $border-color;
  background: $background-color;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.13);

  &__sender-name {
    font-size: 2rem;
    font-weight: 500;
    color: $primary-color-dark;
  }
}

@media screen and (min-width: 48.81em) {
  .contact-header-block {
    &__back-icon {
      display: none;
    }
  }
}

@media screen and (max-width: 48.75em) {
  .contact-header-block {
    $self: &;
    &__back-button {
      background: none;
      border: none;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      #{$self}__back-icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
