@import "src/styles/colors";

.contact-header-block {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-bottom: 1px solid $border-color;
  background: $background-color;

  &__sender-name {
    font-size: 2rem;
    font-weight: 500;
    color: $primary-color-dark;
  }
}

@media screen and (min-width: 48.81em) {
  .contact-header-block {
    &__back-icon {
      display: none;
    }
  }
}

@media screen and (max-width: 48.75em) {
  .contact-header-block {
    &__back-icon {
      width: 2rem;
      height: 2rem;
    }
  }
}
