@import "src/styles/colors";

.income-msg {
  $self: &;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  &__content-wrap {
    flex: 1;
    #{$self}__date {
      color: $secondary-color;
      font-size: 1.2rem;
      padding: 0.6rem 1.4rem;
    }
  }
}
