@import "src/styles/colors";

.account-photo {
  position: relative;
  &__acc-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
  }
  &__status {
    position: absolute;
    top: 2.6rem;
    left: 2.6rem;
    width: 1.8rem;
    height: 1.8rem;
    color: $status-color-active;
  }
}
